<%- model_class = Approval -%>

<table class="table">
<% for approval in @expense.approvals %>
  <% unless approval.new_record? %>
    <tr>
      <th><%= model_class.human_attribute_name(:approve_on) %>:</th>
      <td><%= approval.approve_on %></td>
      <th><%= model_class.human_attribute_name(:agree) %>:</th>
      <td><%= approval.agree %></td>
      <th><%= model_class.human_attribute_name(:explain) %>:</th>
      <td><%= approval.explain %></td>
    </tr>
  <% end %>
<% end %>
</table>