<%= simple_form_for [@expense, @approval], :html => { :class => 'form-inline' } do |f| %>
  <%= f.input_field :level, collection: level_types, disabled: true, class: 'input-medium' %>
  <%= f.hidden_field :level %>
  <%= f.hidden_field :manager %>
  <%= f.label :agree %><%= f.input_field :agree %>
  <%= f.label :explain %><%= f.input_field :explain, class: 'input-xxlarge' %>

  <div class="form-actions">
    <%= f.submit t('.approve'), :class => 'btn btn-primary' %>
     
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                approvals_path, :class => 'btn' %>
  </div>
<% end %>
