<%= form_for [@expense, @approval], :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :approve_on, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :approve_on, 'data-behaviour' => 'datepicker' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :agree, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :agree, :class => 'check_box' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :explain, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :explain, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                approvals_path, :class => 'btn' %>
  </div>
<% end %>
