<%= form_for [@expense, @approval], :html => { :class => 'form-inline' } do |f| %>
  <%= f.label :agree, :class => 'control-label' %>
  <%= f.check_box :agree, :class => 'check_box' %>
  <%= f.label :explain, :class => 'control-label' %>
  <%= f.text_field :explain, :class => 'input-xxlarge' %>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                approvals_path, :class => 'btn' %>
  </div>
<% end %>
