<%- model_class = Period -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:year) %>:</strong></dt>
  <dd><%= @period.year %></dd>
  <dt><strong><%= model_class.human_attribute_name(:explain) %>:</strong></dt>
  <dd><%= @period.explain %></dd>
</dl>

<table class="table">
<tr>
  <th><%= Budget.human_attribute_name(:category) %></th>
  <th class='numeric'><%= Budget.human_attribute_name(:amount) %></th>
  <th class='numeric'><%= Budget.human_attribute_name(:cost) %></th>
  <th class='numeric'><%= Budget.human_attribute_name(:available) %></th>
</tr>
<% for budget in @period.budgets %>
    <tr>
      <td><%= indent_code_name budget.category %></td>
      <td class='numeric'><%= humanized_money budget.amount %></td>
      <td class='numeric'><%= link_to(humanized_money(budget.cost), category_cost_path + "?category_id=#{budget.category.id}") %></td>
      <td class='numeric'><%= humanized_money budget.available %></td>
    </tr>
<% end %>
</table>


<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              periods_path, :class => 'btn'  %>
</div>
