<% content_for :sidebar do %>
  <%= javascript_tag do %>
    window.category_matched_budget_category = <%= raw ref_budget_list.category_matched_budget_category.to_json %>
  <% end %>

  <% ref_budget_list.each do |budget| %>
    <table  id="<%= budget.id %>" style="<%= budget.style %>" class="table table-condensed table-bordered">
      <caption class="title"><%= budget.name %></caption>
      <tr>
        <td class='numeric'><%= t ".available" %></td>
        <td class='numeric'><%= t ".current" %></td>
        <td class='numeric'><%= t ".balance" %></td>
      </tr>
      
      <tr>
        <td class='numeric available'><%= humanized_money budget.available %></td>
        <td class='numeric current'><%= humanized_money budget.current %></td>
        <td class='numeric balance'><%= humanized_money budget.balance %></td>
      </tr>
    </table>
  <% end %>
<% end %>