<%content_for :sidebar do%>
  <table class="table">
  <tr>
    <th><%= t ".category" %></th>
    <th><%= t ".available" %></th>
    <th><%= t ".current" %></th>
    <th><%= t ".balance" %></th>
  </tr>
  <% ref_budget_list.each do |budget| %>
      <tr id="<%= budget.id %>" style="<%= budget.style %>" >
        <td><%= budget.name %></td>
        <td class='available'><%= budget.available %></td>
        <td class='current'><%= budget.current  %></td>
        <td class='balance'><%= budget.balance %></td>
      </tr>
  <% end %>
  </table>
<%end%>