<%- model_class = Expense -%>

<% show_ref_budget = true if local_assigns[:show_ref_budget].nil? %>
<% expense = @expense if local_assigns[:expense].nil? %>

<% if show_ref_budget %>
  <%= render 'shared/budgets_sidebar', ref_budget_list: ref_budget_for(expense) %>
<% end %>

<dl class="dl-horizontal">
  <div class="span4">
    <dt><strong><%= model_class.human_attribute_name(:sn) %>:</strong></dt>
    <dd><%= expense.sn %></dd>
    <dt><strong><%= model_class.human_attribute_name(:request_on) %>:</strong></dt>
    <dd><%= expense.request_on %></dd>
  </div>

  <div class="span4">
    <dt><strong><%= model_class.human_attribute_name(:organization) %>:</strong></dt>
    <dd><%= expense.organization.name %></dd>
    <dt><strong><%= model_class.human_attribute_name(:staff) %>:</strong></dt>
    <dd><%= expense.staff %></dd>
  </div>

  <div class="span8">
    <dt><strong><%= model_class.human_attribute_name(:status) %>:</strong></dt>
    <dd><%= t "expenses.STATUS_TYPES.#{expense.status}"  %></dd>
    <dt><strong><%= model_class.human_attribute_name(:abstract) %>:</strong></dt>
    <dd><%= expense.abstract %></dd>
    <dt><strong><%= model_class.human_attribute_name(:explain) %>:</strong></dt>
    <dd><pre><%= expense.explain %></pre></dd>
  </div>
</dl>

<table class="table">
<tr>
  <th><%= Item.human_attribute_name(:category) %></th>
  <th><%= Item.human_attribute_name(:name) %></th>
  <th class='numeric'><%= Item.human_attribute_name(:amount) %></th>
  <th><%= Item.human_attribute_name(:unit) %></th>
  <th class='numeric'><%= Item.human_attribute_name(:unit_price) %></th>
  <th class='numeric'><%= Item.human_attribute_name(:price) %></th>
</tr>
<% for item in expense.items %>
    <tr>
      <td><%= item.category.code_name %></td>
      <td><%= item.name %></td>
      <td class='numeric'><%= item.amount %></td>
      <td><%= item.unit %></td>
      <td class='numeric'><%= humanized_money item.unit_price %></td>
      <td class='numeric'><%= humanized_money item.price %></td>
    </tr>
<% end %>
</table>


<%- associate_model_class = Approval -%>

<ul>
<% for approval in expense.approvals %>
  <% unless approval.new_record? %>
    <li><%= approval.approve_on %>
        <%= t "approvals.LEVEL_TYPES.#{approval.level}" %> (<%= approval.manager %>) : 
        <span class="label <%= agree_label_class approval.agree%>">
          <%= t "approvals.agree.#{approval.agree}" %>
        </span>
        <em><%= approval.explain %></em></li>
  <% end %>
<% end %>
</ul>