<%- model_class = Expense -%>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:sn) %></th>
      <th><%= model_class.human_attribute_name(:request_on) %></th>
      <th><%= model_class.human_attribute_name(:organization) %></th>
      <th><%= model_class.human_attribute_name(:staff) %></th>
      <th><%= model_class.human_attribute_name(:status) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @expenses.each do |expense| %>
      <tr>
        <td><%= link_to expense.sn, expense_path(expense) %></td>
        <td><%= expense.request_on %></td>
        <td><%= expense.organization.name %></td>
        <td><%= expense.staff %></td>
        <td><%= t "expenses.STATUS_TYPES.#{expense.status}" %></td>
        <td>
        <% if expense.editable? %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_expense_path(expense), :class => 'btn btn-mini' %>
          <%= link_to t('.verify', :default => t("helpers.links.verify")),
                      verify_expense_path(expense), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      expense_path(expense),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        <% elsif expense.approvaling? %>
          <%= link_to t('.approve', :default => t("helpers.links.approve")),
                      new_expense_approval_path(expense),
                      :class => 'btn btn-mini btn-primary' %>
        <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>