<%- model_class = Expense -%>

<% if @period != nil %>
  <%= render 'shared/budgets_sidebar' %>
<% end %>


<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:sn) %>:</strong></dt>
  <dd><%= @expense.sn %></dd>
  <dt><strong><%= model_class.human_attribute_name(:request_on) %>:</strong></dt>
  <dd><%= @expense.request_on %></dd>
  <dt><strong><%= model_class.human_attribute_name(:organization) %>:</strong></dt>
  <dd><%= @expense.organization.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:staff) %>:</strong></dt>
  <dd><%= @expense.staff %></dd>
</dl>

<table class="table">
<tr>
  <th><%= Item.human_attribute_name(:category) %></th>
  <th><%= Item.human_attribute_name(:name) %></th>
  <th><%= Item.human_attribute_name(:amount) %></th>
  <th><%= Item.human_attribute_name(:unit) %></th>
  <th><%= Item.human_attribute_name(:unit_price) %></th>
  <th><%= Item.human_attribute_name(:price) %></th>
</tr>
<% for item in @expense.items %>
    <tr>
      <td><%= item.category.name %></td>
      <td><%= item.name %></td>
      <td><%= item.amount %></td>
      <td><%= item.unit %></td>
      <td><%= item.unit_price %></td>
      <td><%= item.price %></td>
    </tr>
<% end %>
</table>


<%- associate_model_class = Approval -%>

<ul>
<% for approval in @expense.approvals %>
  <% unless approval.new_record? %>
    <li><%= approval.approve_on %>
        <%= t "approvals.LEVEL_TYPES.#{approval.level}" %> (<%= approval.manager %>) : 
        <strong><%= t "approvals.agree.#{approval.agree}" %></strong> 
         <%= approval.explain %></li>
  <% end %>
<% end %>
</ul>