<div class="page-header">
  <h1>
    <%= category_cost_title @category %> 
  </h1>

  <%= form_tag category_cost_path, :id => :select_category_id, :method => :get, :class => 'pull-right' do %>
  <div class="field">
    <%= select_tag "category_id", options_from_collection_for_select(Category.all, "id", "code_name", @selected_category_id), 
      :prompt => t('Select Category...') %>
  </div>
<% end %>
</div>



<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th><%=t '.table_annotate', :default => 'Organizations / Month' %></th>
      <th><%=t 'cost_report.summary', :default => 'Summary' %></th>
      <% 1.upto(12).each do | month | %>
        <th><%= month %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @organization_amount_hash.each do |o, month_amount| %>
    <tr>
      <td><%= o.name %></td>
      <td class='numeric'><%= humanized_money @summary[o.id] %></td>
      <% 1.upto(12).each do | month | %>
        <td class='numeric'><%= link_reimbursement_list(month_amount[month], @category, o, month) %></td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>