<div class="page-header">
  <h1>
    <%= organization_cost_title @organization %> 
  </h1>

  <%= form_tag organization_cost_path, :id => :select_organization_id, :method => :get, :class => 'pull-right' do %>
  <div class="field">
    <%= select_tag "organization_id", options_from_collection_for_select(Organization.department, "id", "name", @selected_organization_id), 
      :prompt => t('Select Organization...') %>
  </div>
<% end %>
</div>



<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th><%=t '.table_annotate', :default => 'Categories / Month' %></th>
      <th><%=t 'cost_report.summary', :default => 'Summary' %></th>
      <% 1.upto(12).each do | month | %>
        <th><%= month %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @category_amount_hash.each do |c, month_amount| %>
    <tr>
      <td><%= c.name %></td>
      <td class='numeric'><%= @summary[c.id] %></td>
      <% 1.upto(12).each do | month | %>
        <td class='numeric'><%= link_reimbursement_list(month_amount[month], c, @organization, month) %></td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>