<%= simple_form_for @organization, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.error_notification %> 
  <%= f.input :code %>
  <%= f.input :name %>
  <%= f.input :kind, collection: kind_types %>
  <%= f.association :superior, collection: Organization.all %>
  <%= f.association :upper_manager, collection: User.upper_managers, label_method: :displayname %>


  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                organizations_path, :class => 'btn' %>
  </div>
<% end %>
