<%content_for :sidebar do%>
  <table class="table">
  <tr>
    <th><%= t ".category" %></th>
    <th><%= t ".available" %></th>
    <th><%= t ".current" %></th>
    <th><%= t ".balance" %></th>
  </tr>
  <% for budget in @period.budgets %>
      <tr id="ref_budget_<%= budget.category.id %>">
        <td><%= budget.category.name %></td>
        <td class='available'><%= budget.available %></td>
        <td class='current'><%= @expense.category_price(budget.category.id) %></td>
        <td class='balance'><%= subtraction(budget.available, @expense.category_price(budget.category.id))%></td>
      </tr>
  <% end %>
  </table>
<%end%>