<%- model_class = Expense -%>
<table class="table table-striped table-bordered datatable">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:sn) %></th>
      <th><%= model_class.human_attribute_name(:request_on) %></th>
      <th><%= model_class.human_attribute_name(:abstract) %></th>
      <th><%= model_class.human_attribute_name(:organization) %></th>
      <th><%= model_class.human_attribute_name(:staff) %></th>
      <th><%= model_class.human_attribute_name(:status) %></th>
      <% if show_action %>
        <th><%=t '.actions', :default => t("helpers.actions") %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @expenses.each do |expense| %>
      <tr>
        <td><%= link_to expense.sn, expense_path(expense) %></td>
        <td><%= expense.request_on %></td>
        <td><%= expense.abstract %></td>
        <td><%= expense.organization.name %></td>
        <td><%= expense.staff %></td>
        <td><%= t "expenses.STATUS_TYPES.#{expense.status}" %></td>
        <% if show_action %>
          <td><%= link_to t('.build', :default => t("helpers.links.build")),
                      new_expense_reimbursement_path(expense), :class => 'btn btn-mini' %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>