<%= form_for @expense, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :no, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :no, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :request_on, :class => 'control-label' %>
    <div class="controls">
      <%= f.date_select :request_on, :class => 'date_select' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :staff, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :staff, :class => 'text_field' %>
    </div>
  </div>

  <table class="table">
    <tr>
      <th><%= Item.human_attribute_name(:category) %></th>
      <th><%= Item.human_attribute_name(:name) %></th>
      <th><%= Item.human_attribute_name(:amount) %></th>
      <th><%= Item.human_attribute_name(:unit) %></th>
      <th><%= Item.human_attribute_name(:unit_price) %></th>
      <th><%= Item.human_attribute_name(:price) %></th>
    </tr>
  <%= f.fields_for :items do |builder| %>
      <tr><td><%= builder.text_field :category %></td>
          <td><%= builder.text_field :name %></td>
          <td><%= builder.text_field :amount, :class => "input-tiny" %></td>
          <td><%= builder.text_field :unit, :class => "input-tiny" %></td>
          <td><%= builder.text_field :unit_price, :class => "input-small" %></td>
          <td><%= builder.text_field :price, :class => "input-small" %></td>
      </tr>
  <% end %>
  </table>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                expenses_path, :class => 'btn' %>
  </div>
<% end %>
