<% if @period != nil %>
  <%= render 'shared/budgets_sidebar' %>
<% end %>

<%= simple_form_for @expense do |f| %>
  <div class='form-horizontal'>
    <%= f.error_notification %> 
    <%= f.input :sn, :readonly => true %>
    <div class="control-group">
      <%= f.label :request_on, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :request_on, 'data-behaviour' => 'datepicker' %>
      </div>
    </div>
    <%= f.association :organization, collection: Organization.all, disabled: true %>
    <%= f.hidden_field :organization_id %>
    <%= f.input :staff, :readonly => true %>
  </div>

  <table class="table fields-table">
    <tr>
      <th><%= Item.human_attribute_name(:category) %></th>
      <th><%= Item.human_attribute_name(:name) %></th>
      <th><%= Item.human_attribute_name(:amount) %></th>
      <th><%= Item.human_attribute_name(:unit) %></th>
      <th><%= Item.human_attribute_name(:unit_price) %></th>
      <th><%= Item.human_attribute_name(:price) %></th>
      <th></th>
    </tr>
    <%= f.fields_for :items do |ff| %>
      <%= render 'item_fields', :f => ff %>
    <% end %>
    
  </table>
  <%= link_to_add_fields t('.add', :default => t("helpers.links.add")), f, :items %>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                expenses_path, :class => 'btn' %>
  </div>
<% end %>
