<%= render 'shared/budgets_sidebar', ref_budget_list: ref_budget_for(@expense) %>


<%= simple_form_for @expense, :html => { :class => 'disable_auto_focus' } do |f| %>
  <%= f.error_notification %> 
  <div class='form-horizontal two-column'>
    <fieldset class="span4">
      <%= f.input :sn, :readonly => true %>
      <div class="control-group">
        <%= f.label :request_on, :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :request_on, 'data-behaviour' => 'datepicker' %>
        </div>
      </div>
    </fieldset>
    <fieldset class="span4">
      <%= f.association :organization, collection: Organization.all, disabled: true %>
      <%= f.hidden_field :organization_id %>
      <%= f.input :staff %>
    </fieldset>
    <fieldset class="span9">
      <%= f.input :abstract, input_html: { class: 'input-xxlarge' } %>
      <%= f.input :explain, input_html: { rows: 4, class: 'input-xxlarge' } %>
    </fieldset>
  </div>

  <table class="table fields-table">
    <tr>
      <th><%= Item.human_attribute_name(:category) %></th>
      <th><%= Item.human_attribute_name(:name) %></th>
      <th class='numeric'><%= Item.human_attribute_name(:amount) %></th>
      <th><%= Item.human_attribute_name(:unit) %></th>
      <th class='numeric'><%= Item.human_attribute_name(:unit_price) %></th>
      <th class='numeric'><%= Item.human_attribute_name(:price) %></th>
      <th></th>
    </tr>
    <%= f.fields_for :items do |ff| %>
      <%= render 'item_fields', :f => ff %>
    <% end %>
    
  </table>
  <%= link_to_add_fields t('.add', :default => t("helpers.links.add")), f, :items %>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                session[:last_expense_collection_url], :class => 'btn' %>
  </div>
<% end %>
