<%- model_class = Expense -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:no) %></th>
      <th><%= model_class.human_attribute_name(:request_on) %></th>
      <th><%= model_class.human_attribute_name(:staff) %></th>
      <th><%= model_class.human_attribute_name(:status) %></th>
     
    </tr>
  </thead>
  <tbody>
    <% @expenses.each do |expense| %>
      <tr>
        <td><%= link_to expense.no, expense_path(expense) %></td>
        <td><%= expense.request_on %></td>
        <td><%= expense.staff %></td>
        <td><%= expense.status %></td>
       
      </tr>
    <% end %>
  </tbody>
</table>
