<% if @period != nil %>
  <%= render  'shared/budgets_sidebar', ref_budget_list: ref_budget_for(@reimbursement, @period.budgets) %>
<% end %>

<dl class="dl-horizontal two-column">
  <div class="span4">
    <dt><strong><%= Reimbursement.human_attribute_name(:expense_id) %>:</strong></dt>
    <dd><%= expense_sn_modal @reimbursement.expense %></dd>
  </div>
</dl>
<%= render 'expense_modal' %>

<%= simple_form_for @reimbursement, :html => { :class => 'disable_auto_focus' } do |f| %>
  <div class='form-horizontal two-column'>
    <%= f.error_notification %> 
    <%= f.hidden_field :expense_id %>
    <fieldset class="span4">
      <%= f.input :sn, :readonly => true %>
      <div class="control-group">
        <%= f.label :reimburse_on, :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :reimburse_on, 'data-behaviour' => 'datepicker' %>
        </div>
      </div>
    </fieldset>
    <fieldset class="span4">
      <%= f.association :organization, collection: Organization.all, disabled: true %>
      <%= f.hidden_field :organization_id %>
      <%= f.input :staff, :readonly => true  %>
    </fieldset>

    <fieldset class="span4">
      <%= f.input :invoice_no %>
    </fieldset>
    <fieldset class="span4">
      <%= f.input :amount, :readonly => true %>
    </fieldset>

    <fieldset class="span8">
      <%= f.input :abstract, input_html: { class: 'input-xxlarge' } %>
    </fieldset>
  </div>

  <table class="table fields-table">
    <tr>
      <th><%= Detail.human_attribute_name(:category) %></th>
      <th><%= Detail.human_attribute_name(:name) %></th>
      <th class='numeric'><%= Detail.human_attribute_name(:amount) %></th>
      <th><%= Detail.human_attribute_name(:unit) %></th>
      <th class='numeric'><%= Detail.human_attribute_name(:unit_price) %></th>
      <th class='numeric'><%= Detail.human_attribute_name(:price) %></th>
      <th></th>
    </tr>
    
    <%= f.fields_for :details do |ff| %>
      <%= render 'detail_fields', :f => ff %>
    <% end %>
    
  </table>
  <%= link_to_add_fields t('.add', :default => t("helpers.links.add")), f, :details %>



  <div class="form-actions span8">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                session[:last_reimbursement_collection_url], :class => 'btn' %>
  </div>
<% end %>
