<%- model_class = Expense -%>

<%= render 'navs', css_class: ["", "active"]  %>

<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>

<%= render 'shared/expenses' %>

<a id="toggle" href="#"><i class="icon-list"></i><%= t('.toggle reimbursed expenses') %></a>

<div id="reimbursed_expenses" style="display: none">
  <%= render 'expenses/expenses_datatable', :expenses => @reimbursed_expenses, :show_action => true %>
</div>